.netflox-navbar {
  background-color: #000 !important;
}
.netflox-nav-link a {
  color: #fff;
}
.netflox-logo {
  display: inline-block;
  width: 147px;
}
.netflox-search-input {
  color: #fff;
  background-color: transparent;
  border-color: var(--border-color);
}
.netflox-search-button {
  background-color: var(--primary-color);
}
