.movie-card {
  aspect-ratio: 2 / 3;
  width: 100%;
  height: 100%;
  background-color: #333;
  background-size: cover;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 12px;
}

.movie-card__overlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 41, 41, 0.9);
  color: #fff;
  font-weight: bold;
  overflow-wrap: break-word;
  transition: all 1s;
  border-radius: 12px;
  padding: 12px;
}

.movie-card__overlay:hover {
  opacity: 1;
}

.movie-card:hover {
  z-index: 2;
  transform: scale(1.1) translateZ(20px);
}
.movie-card h2 {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 2줄 넘어가면 말줄임 */
  -webkit-box-orient: vertical;
  padding-bottom: 0;
  margin-bottom: 0;
}
.movie-badge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  padding-top: 10px;
}
.movie-badge > span {
  font-size: 12px;
  line-height: 1.6;
  padding: 3px 6px;
  border-radius: 4px;
}
.movie-card__info {
  padding-top: 10px;
}
.movie-card__info h4 {
  font-size: 16px;
  line-height: 1;
  padding-top: 20px;
}
.movie-card__info h4:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  background: url(../../assets/images/icon_vote.png) 50% 50% / 100% auto
    no-repeat;
  margin-right: 6px;
}
.movie-card__info strong {
  display: block;
  font-size: 16px;
  line-height: 1;
  padding-top: 6px;
}
.movie-card__info strong:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  background: url(../../assets/images/icon_pick.png) 50% 50% / 100% auto
    no-repeat;
  margin-right: 6px;
}

.movie-card__info span {
  display: block;
  font-size: 12px;
  line-height: 1;
  padding-top: 8px;
}
.movie-card__info span i {
  display: inline-flex;
  align-items: center;
  height: 24px;
  font-size: 11px;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
  padding: 0 10px;
}
.movie-card__info span i.adult {
  background-color: var(--primary-color);
}

@media (max-width: 1023px) {
  .movie-card__overlay {
    opacity: 1;
    background-color: rgba(43, 41, 41, 0.7);
  }

  .movie-card:hover {
    transform: none;
  }
}
