*,
:after,
:before {
  box-sizing: border-box;
  word-break: keep-all;
}
body {
  color: #fff;
  background-color: #000;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

:root {
  --primary-color: #d9050f;
  --border-color: rgba(128, 128, 128, 0.7);
}
